
<% include partials/_header%>
<% include partials/menu%>
<script>
    aFiltros = [];
    aFiltro  = [];
    aStack   = [];
    window.onload = function(){
      x = document.querySelectorAll(".overSelect")
      for(y of x){
        y.addEventListener("click",showCheckboxes);
      }
    }
   
    function showCheckboxes() {
      checkboxes = document.getElementById(this.dataset.checkboxes);
      x = document.querySelectorAll(".overSelect");
      for(i=0, t=x.length; i<t; i++ ){
        if (x.item(i)==this){
          n=i;
          break;
        }
      }
   
      td = this.parentElement.parentElement.parentElement;
      tr = td.parentElement;
      for(i=0, t=tr.children.length; i<t; i++ ){
        if( tr.children[i]==td ){
          m=i;
          break;
        }
      }
   
      if(checkboxes.style.display=='none' || checkboxes.style.display==""){
        x= document.querySelectorAll(".checkboxes");
        for(i=0, t=x.length; i<t; i++ ){
          document.querySelectorAll(".checkboxes")[i].style.display="none";
        }
        if( aFiltros[n]==undefined ){
          aFiltros[n]=[];
        }
   
        table = document.getElementById("myTable");
        for(i=1, t=table.rows.length; i<t; i++){
          text = table.rows[i].cells[n].innerHTML;
          if(!aFiltros[n].includes(text)){
            aFiltros[n].push(text);
   
            lbl = document.createElement("label");
            txt = document.createTextNode(text);
            chk = document.createElement("input");
            chk.setAttribute("type", "checkbox");
            lbl.appendChild(chk);
            lbl.appendChild(txt);
            checkboxes.appendChild(lbl);
          }
        }
        checkboxes.style.display="block";
      }else{
        checkboxes.style.display='none';
      }
   
      x = document.querySelectorAll("input[type=checkbox]");
      for(y of x){
        y.removeEventListener("click",setFiltro);
        y.addEventListener("click",setFiltro);
      }
    }
   
    function setFiltro(){
      x=document.querySelectorAll("div.multiselect");
      div=this.parentElement.parentElement.parentElement ;
      for(i=0, t=x.length; i<t; i++ ){
        if (x.item(i)==div){
          n=i;
          break;
        }
      }
   
   
      if(aFiltro[n]==undefined){
        aFiltro[n]=[];
      }
   
      text = this.nextSibling.textContent;
      if( this.checked ){
        aFiltro[n].push(text);
      }else{
        aFiltro[n].splice(aFiltro[n].indexOf(text),1);
      }
   
      if(aFiltro[n].length){
        if(!aStack.includes(n)){
          aStack.push(n);
        }
      }else{
        aStack.splice(aStack.indexOf(n),1);
      }
   
      filtrar();
    }
   
   
    function filtrar(){
      table = document.getElementById("myTable");
      for(i=1, t=table.rows.length; i<t; i++){
        table.rows[i].style.display="";
      }
   
      if(aStack.length){
        for(n of aStack){
          for(i=1, t=table.rows.length; i<t; i++){
            if(table.rows[i].style.display!="none"){
              text = table.rows[i].cells[n].innerHTML;
              if(aFiltro[n].length>0){
                if(!aFiltro[n].includes(text) ){
                  table.rows[i].style.display="none"
                }
              }
            }
          }
        }
      }
    }
  </script>


                  

<div class="container-fluid ">
   
        <div class="row">
             <!-- Formulario-->
              
             <!--Tabla para listar los datos-->
             <div class="col-md-12 bg-light">
                 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por:">
                 <font size="2" face="Serif" >
                 <table class="table table-sm table-bordered table-hover table-striped" id="myTable">
                     <div class="row">
                         <div class="col-md-4">
                             
<thead>
                         </div>
                     </div>

                        
 <tr class="header">
     <th>#</th>
     <th>Cliente</th>
     <th>Tipo</th>
     <th>Demandado</th>
     <th>Cedula</th>
     <th>Juzgado</th>
     <th>Radicado</th>
     <th>Etapa Act Procesal</th>
     <th>Fecha Act Procesal</th>
     <th>Subrogado</th>
     <th>Fecha Activacion</th>
         
 </tr>
</thead>
<tbody>
        <% for (var i=0; i < tasks.length; i++) {%>
           <a href="#"> <tr>
                <td><%= i+1 %> </td>
                <td><%=tasks[i].datos_cliente.nombre%></td>
                
            <td> <%=tasks[i].datos_cliente.tipo_proceso%></td>
            <td> <%=tasks[i].datos_titular.nombre%></td>
            <td> <%=tasks[i].datos_titular.cedula%></td>
            <td> <%=tasks[i].datos_titular.juzgado%></td>
            <td> <%=tasks[i].datos_titular.radicado%></td>
            
            <td  id="etapa_instancia" ><a href="/edit_etapa/<%=tasks[i]._id%>"> <%=tasks[i].etapa.instancia[(tasks[i].etapa.instancia).length-1]%> </a></td>

                <td> 

                    <%=moment.utc(tasks[i].etapa.fecha[(tasks[i].etapa.fecha).length-1]).format('LL')%>   </td>
                
                
            <td> <%=tasks[i].datos_titular.subrogado%></td>
            <td> <%=moment.utc(tasks[i].datos_titular.fecha_activacion).format('LL')%></td>
                        
            <!--<td>
                    <a href="/turn/<%=tasks[i]._id%>" class=" btn <%=tasks[i].status ? ' btn-succes': 'btn btn-dark' %>">Done</a>
                    <a id="delete" class="btn btn-danger" href="/delete/<%=tasks[i]._id%>">Delete</a>
                    <a href="/edit/<%=tasks[i]._id%>" class="btn btn-info">Edit</a>
                    </td>-->
                    <td>
                         <div class="btn-group">  <!--Boton de status<a href="/turn/<%=tasks[i]._id%>" class=" btn <%=tasks[i].status ? ' btn-succes': 'btn btn-dark' %>">Done</a>
                          Boton de Borrar<a id="delete" class="btn btn-danger" href="/delete/<%=tasks[i]._id%>">Delete</a>-->
                          <a href="/show/<%=tasks[i]._id%>"  class="btn btn-info" id="boton-ver-todo" title="Ver toda la informacion del caso"><i class="fa fa-eye"></i></a><!--Ver Todo-->
                          <a href="/edit/<%=tasks[i]._id%>"  class="btn btn-danger" id="boton-editar-todo" title="Editar informacion caso" ><i class="fa fa-pencil-square-o"></i></a><!--Editar-->
                          <a href="/tareas/<%=tasks[i]._id%>"  class="btn btn-danger" id="boton-crear-tarea" title="Crear tarea"><i class="fa fa-calendar-plus-o"></i></a><!--Craer tarea-->
                          <a href="/tareas_caso/<%=tasks[i]._id%>"  class="btn btn-danger" id="boton-ver-tarea" title="Ver tarea caso"><i class="fa fa-eye"></i><i class="fa fa-calendar"></i></a><!--Ver tarea-->
                          
                          
                          </div>
                  </td>
                    </tr></a>
                    <%}%>
           
                   
           </tbody>

           
    
                 </table>
 </font>
                                  
                           
                                

             </div>


        </div>
        
                </div>
</div>  
  
         


              
<% include partials/_footer%>